<div class="container">
    <form (ngSubmit)="addBudget()">
      <input type="text" [(ngModel)]="userId" name="userId" placeholder="User ID" required />
      <input type="number" [(ngModel)]="amount" name="amount" placeholder="Budget Amount" required />
      <input type="month" [(ngModel)]="month" name="month" required />
      <button type="submit">Add Budget</button>
    </form>
  
    <form (ngSubmit)="fetchBudget()">
      <input type="text" [(ngModel)]="userId" name="userId" placeholder="User ID" required />
      <input type="month" [(ngModel)]="month" name="month" required />
      <button type="submit">Get Budget</button>
    </form>
  
    <div class="budget-details" *ngIf="budget">
      <h3>Budget Details:</h3>
      <p>Amount: {{ budget.amount }}</p>
      <p>Spendings: {{ budget.spendings }}</p>
    </div>
  </div>
  